# Package requirements defined in setup.py

# Developer requirements
flake8
flake8-isort
flake8-quotes
flake8-string-format
flake8-docstrings
pylint

nose
coverage
mock
pylint
pip-tools
invoke

# Docs requirements
Sphinx
sphinxcontrib-blockdiag
sphinxcontrib-actdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
sphinx_rtd_theme
sphinxcontrib-napoleon

# Atom IDE requirements
python-language-server[all]
isort

# Helper tools (personal preference)
ipython
jupyter
